<mat-card>
    <mat-card-header>
        <mat-card-title>Live Compare Routes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-select placeholder="Selected activity 1 (Live)" [(value)]="selectedActivity1">
                <mat-option *ngFor="let activity of activities" [value]="activity">
                    {{ activity.start_date | date:'shortDate'}} | {{ (activity.distance / 1000) | floor }} km | {{ (activity.elapsed_time / 60)
                    | floor }} min | {{ activity.type }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Selected activity 2" [(value)]="selectedActivity2">
                <mat-option *ngFor="let activity of activities" [value]="activity">
                    {{ activity.start_date | date:'shortDate'}} | {{ (activity.distance / 1000) | floor }} km | {{ (activity.elapsed_time / 60)
                    | floor }} min | {{ activity.type }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Select quality" [(value)]="selectedQuality">
                <mat-option [value]="'low'">Low</mat-option>
                <mat-option [value]="'medium'">Medium</mat-option>
                <mat-option [value]="'high'">High</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="Max distance (in m)" [(ngModel)]="maxDistance" min="1" max="100" step="1">
        </mat-form-field>

        <button mat-raised-button (click)="nextLivePathPoint()">Next path1 point</button>
    </mat-card-content>
</mat-card>

<app-map [routes]="routes | async"></app-map>