<mat-card>
    <mat-card-header>
        <mat-card-title>Lap Detection</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-select placeholder="Selected activity" [(value)]="selectedActivity">
                <mat-option *ngFor="let activity of activities" [value]="activity">
                    {{ activity.start_date | date:'short'}} {{ activity.name }} ({{ (activity.distance / 1000) | floor }} km | {{ (activity.elapsed_time
                    / 60) | floor }} min)
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
</mat-card>