<mat-card>
    <mat-card-content>
        <mat-form-field>
            <mat-select placeholder="Selected activity" [(value)]="selectedActivity">
                <mat-option *ngFor="let activity of activities" [value]="activity">
                    {{ activity.start_date | date:'short'}} {{ activity.name }} ({{ (activity.distance / 1000) | floor }} km | {{ (activity.elapsed_time
                    / 60) | floor }} min)
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Selected snap type" [(value)]="selectedSnapType">
                <mat-option [value]="'none'">None</mat-option>
                <mat-option [value]="'google-maps'">Google Maps</mat-option>
                <mat-option [value]="'google-maps-interpolate'">Google Maps Interpolate</mat-option>
                <mat-option [value]="'mapbox'">Mapbox</mat-option>
                <mat-option [value]="'mapbox-full'">Mapbox Full</mat-option>
            </mat-select>
        </mat-form-field>

        <app-map [routes]="routes | async"></app-map>
    </mat-card-content>
</mat-card>