<mat-nav-list>
    <a [routerLink]="['/']" mat-list-item>Overview</a>
    <a [routerLink]="['/', 'activities']" mat-list-item>Activities</a>
    <a [routerLink]="['/', 'snap-to-road']" mat-list-item>Snap to Road</a>
    <a [routerLink]="['/', 'simplify']" mat-list-item>Simplify</a>
    <a [routerLink]="['/', 'compare-routes']" mat-list-item>Compare Routes</a>
    <a [routerLink]="['/', 'lap-detection']" mat-list-item>Lap Detection</a>
    <a [routerLink]="['/', 'live-compare']" mat-list-item>Live Compare</a>
    <a [routerLink]="['/', 'live-lap-detection']" mat-list-item>Live Lap Detection</a>
</mat-nav-list>