<mat-card>
    <mat-card-header>
        <mat-card-title>Compare Routes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-select placeholder="Selected activity 1" [(value)]="selectedActivity1">
                <mat-option *ngFor="let activity of activities" [value]="activity">
                    {{ activity.start_date | date:'shortDate'}} | {{ (activity.distance / 1000) | floor }} km | {{ (activity.elapsed_time / 60)
                    | floor }} min | {{ activity.type }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Selected activity 2" [(value)]="selectedActivity2">
                <mat-option *ngFor="let activity of activities" [value]="activity">
                    {{ activity.start_date | date:'shortDate'}} | {{ (activity.distance / 1000) | floor }} km | {{ (activity.elapsed_time / 60)
                    | floor }} min | {{ activity.type }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Selected snap type" [(value)]="selectedSnapType">
                <mat-option [value]="'none'">None</mat-option>
                <mat-option [value]="'google-maps'">Google Maps</mat-option>
                <mat-option [value]="'google-maps-interpolate'">Google Maps Interpolate</mat-option>
                <mat-option [value]="'mapbox'">Mapbox</mat-option>
                <mat-option [value]="'mapbox-full'">Mapbox Full</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="Max distance (in m)" [(ngModel)]="maxDistance" min="1" max="100" step="1">
        </mat-form-field>

        <app-map [routes]="routes | async"></app-map>
    </mat-card-content>
</mat-card>