<mat-card>
    <mat-card-header>
        <mat-card-title>Compare Routes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-select placeholder="Selected activity 1" [(value)]="selectedActivity1">
                <mat-option *ngFor="let activity of activities" [value]="activity">
                    {{ activity.start_date | date:'shortDate'}} | {{ (activity.distance / 1000) | floor }} km | {{ (activity.elapsed_time / 60)
                    | floor }} min | {{ activity.type }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Selected activity 2" [(value)]="selectedActivity2">
                <mat-option *ngFor="let activity of activities" [value]="activity">
                    {{ activity.start_date | date:'shortDate'}} | {{ (activity.distance / 1000) | floor }} km | {{ (activity.elapsed_time / 60)
                    | floor }} min | {{ activity.type }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Select quality" [(value)]="selectedQuality">
                <mat-option [value]="'low'">Low</mat-option>
                <mat-option [value]="'medium'">Medium</mat-option>
                <mat-option [value]="'high'">High</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="Simplify Epsilon" [(ngModel)]="simplifyEpsilon" min="0" max="100" step="1">
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Select compare type" [(value)]="selectedCompareType">
                <mat-option [value]="'points'">Points</mat-option>
                <mat-option [value]="'points-line'">Points Line</mat-option>
                <mat-option [value]="'points-lines'">Points Lines</mat-option>
                <mat-option [value]="'points-lines-2'">Points Lines 2</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Selected snap type" [(value)]="selectedSnapType">
                <mat-option [value]="'none'">None</mat-option>
                <mat-option [value]="'google-maps'">Google Maps</mat-option>
                <mat-option [value]="'google-maps-interpolate'">Google Maps Interpolate</mat-option>
                <mat-option [value]="'mapbox'">Mapbox</mat-option>
                <mat-option [value]="'mapbox-full'">Mapbox Full</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="Max distance (in m)" [(ngModel)]="maxDistance" min="1" max="100" step="1">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="Chart Overlapping Id" [(ngModel)]="chartOverlappingId" min="0" step="1">
        </mat-form-field>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Map">
                <app-map [routes]="routes | async"></app-map>
            </mat-tab>

            <mat-tab label="Chart">
                <ngx-charts-line-chart [view]="[800, 300]" [yAxis]="true" [results]="data | async" xAxisLabel="Position" yAxisLabel="Speed in (m/s)"
                    [showXAxisLabel]="true" [showYAxisLabel]="true"></ngx-charts-line-chart>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>